<div class="container">
  <div class="header">
    <h2>Locations</h2>
    <%= link_to "New location",
                new_location_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Location.new) }
    %>

    <%= turbo_frame_tag Location.new %>

    <%= turbo_frame_tag "locations" do %>
      <%#= render "locations/empty_state" %>
      <%= render @locations %>
    <% end %>
  </div>
</div>
