<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), locations_path %>

  <div class="header">
    <h1>New Location</h1>
  </div>

  <%= turbo_frame_tag @location do %>
    <%= render "form", location: @location %>
  <% end %>
</main>
