<main class="container">
  <%= link_to sanitize("&larr; Back to Locations"), locations_path %>
  <div class="header">
    <h1>
      <%= @location.location %>
    </h1>
  </div>
  <div class="">
    <%= render partial: 'highs_and_lows', locals: {location_logic: @location_logic} %>
  </div>
</main>
